	body
	{
	//background-image: url('../images/bg.jpg');
	background-color: #dde3ec;
	}

	.banner{
		text-align:center;
		background: #303844;
		margin:0 auto;		
		}	

.align_ctr{
	text-align:center;
}

.align_lft{
	text-align:left;
}

    .top{
    	width: 50px;
    	height: 100px;
    	background-color: rgba(0,0,255,0.5);
    	border-radius: 10px;
    	position: fixed;
    	right: 100px;
    	bottom: 40%;
    }
    .top #topArrow{
    	width: 30px;
    	height: 30px;
    	border-top: 2px solid #fff;//利用border和rotate绘制向上的箭头
    	border-left: 2px solid #fff;
    	display: inline-block;
    	transform: translate(9px,35px) rotate(45deg);
    	cursor: pointer;
    	z-index: 1000;//避免被其他div遮盖
    }
    .top #topArrow:hover{
    	border-width: 4px;
    }